body {
  background-image: url("fon.jpg");
  font-family: "Courier New", Courier, monospace;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
ul {
  background-color: silver;
}
p {
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}
#l1 {
  background-color: black;
  color: white;
}
#l2 {
  background-color: white;
}
#l3 {
  background-color: red;
}
#l4 {
  color: red;
}
#l5 {
  color: deeppink;
}
#l6 {
  background-color: blue;
}
#l7 {
  color: blue;
}
#l8 {
  background-color: green;
}
#l9 {
  color: green;
}
#l10 {
  background-color: yellow;
}
#l11 {
  color: goldenrod;
}
#l12 {
  background-color: purple;
}
#l13 {
  color: purple;
}
#l14 {
  background-color: brown;
}
#l15 {
  color: brown;
}
